<div *ngIf="!participant">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="participant">
  <mat-card>
    <mat-card-header>
      <!-- <mat-icon mat-card-avatar svgIcon="{{ participant.avatar }}"></mat-icon> -->
      <mat-card-title>
        <h2>{{ participant.name }}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        Birthday: {{ participant.dateofbirth | date: "dd MMM yyyy" }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Bio">
          <p>
            {{ participant.bio }}
          </p>
        </mat-tab>
        <mat-tab label="Growth Entries">
          <app-growth-entries
            [growthEntries]="participant.growthEntries"
          ></app-growth-entries>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
