<mat-sidenav-container
  class="app-sidenav-container"
  [class.dark-theme]="isDarkTheme"
  [dir]="dir"
>
  <mat-sidenav
    #sidenav
    class="app-sidenav mat-elevation-z10"
    [opened]="!isScreenSmall()"
    [mode]="isScreenSmall() ? 'over' : 'side'"
  >
    <mat-toolbar color="primary">
      Participants
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item *ngFor="let participant of participants | async">
        <a matLine [routerLink]="['/growthmonitor', participant.id]">
          <!-- <mat-icon svgIcon="{{ participant.avatar }}"></mat-icon> -->
          {{ participant.name }}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar
      (toggleTheme)="toggleTheme()"
      (toggleSidenav)="sidenav.toggle()"
      (toggleDir)="toggleDir()"
    >
    </app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
